body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  color: #4C4D4D;
}

li {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: 8vh 46vh 46vh;
  grid-gap: 10px;
  color: #444;
  background-color: #D2D2D2;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}

.bounding-box {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-color: #D2D2D2;
}

.me-with-parachute-img {
  background-image: url('./images/skydivingProfPic.jpg');
}

.header {
  grid-area: 1 / 1 / 2 / 4;
  font-family: 'Permanent Marker', cursive;
  background: linear-gradient(45deg, #0ad3ff, #02a9ea);
  font-size: 10px;
  display: grid;
  grid-template-columns: 75vw 25vw;
}

.social-media {
  display: inline;
}

.social-media img {
  height: 2em;
  width: 2em;
  margin-right: 3em;
}
