body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  color: #4C4D4D;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

li {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.container {
  display: flex;
  background-color: #D2D2D2;
}

 .image {
   width: 600px;
   zoom: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: visible;
}

.image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.bio {
  margin: 10em;
  width: 50%;
}

.bio-text {
  margin-bottom: 3em;
}

.flex-item {
  display: inline;
  align-self: center;
}

.social-media {
  display: inline;
}

.social-media img {
  height: 2em;
  width: 2em;
  margin-right: 3em;
}
