body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

li {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.container {
  display: flex;
  background-color: #D9D9D9;
  color: #4C4D4D;
}

.image {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.bio {
  margin: 5em;
  width: 50%;
}

.flex-item {
  display: inline;
  align-self: center;
}
